:root {
    --background-menu: #3b3a00;
    --background-header: #42004bef;
    --color-menu: rgb(0, 0, 0);
    --color-header: black;
    --color-hamburguesa:  rgb(209, 255, 117);
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;
}

body {
    /* background-color: var(--color-principal); */
    font-family: 'Open Sans', sans-serif;
}

.slidebar {
    display: none;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(--background-menu);
}

    .slidebar header {
        font-size: 22px;
        background-color: var(--color-header) ;
        font-weight: bold;
        text-align: center;
        line-height: 70px;
        background-color: var(--background-header);
        user-select: none;
    }

        .slidebar ul a {
            display: block;
            height: 100%;
            width: 100%;
            line-height: 65px;
            font-size: 20px;
            color: var(--color-menu);
            padding-left: 40px;
            box-sizing: border-box;
            border-top: 1px solid rgba(255, 255, 255, .1);
            border-bottom: 1px solid black;
            transition: .35s;
        }

            .slidebar ul a i {
                margin-right: 15px;
            }

                .slidebar ul li:hover a {
                    padding-left: 50px;
                }
                    .slidebar.active {
                        display:block;
                        width: 100vw;
                }
#hamburguesa {
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 20px;
}

#barras {
    position: relative;
    width: 40px;
    height: 40px;
}

#barras span {
    height: .4rem;
    width: 100%;
    background-color: var(--color-hamburguesa);
    transform: rotate(0deg);
    border-radius: 5px;
    position: absolute;
    transition: all .30s;
    transform-origin: left center;
    will-change: transform, opacity;
}

#barras span:nth-child(1){
    top: 0px;
}

#barras span:nth-child(2){
    top: 9px;
}

#barras span:nth-child(3){
    top: 18px;
}

/* #menu-link:hover span, */
#menu-link:focus span,
#menu-link:active span {
    background-color: var(--background-menu);
}

#barras.active span:nth-child(1) {
    transform: rotate(45deg);
    top: -5px;
    left: 2px;
}

#barras.active span:nth-child(2) {
    opacity: 0;
}

#barras.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 23px;
    left: 2px;
}