:root {
    --color-principal: #1b1b32;
}


/* * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
} */

body {
    background-color: var(--color-principal);
}

nav {
    /* border: 2px solid rgb(255, 227, 175); */
    position: absolute;
    align-items: center;
    width: 150px;
    top: 80px;
    left: 9px;
    display: none;
}

nav.active{
    display: block;
}

#menu {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    list-style-type: none;
}


li.apartados {
    display:flex;
    align-content: center;
    align-items: center;
  justify-content: center;
    /* padding: 5px; */
    /* vertical-align: middle; */
    /* text-align: center; */
    
    border: 2px solid rgb(255, 227, 175);
    height: 2rem;
}

li.apartados a {
    display: block;
    text-decoration: none;
    color: white;
}


#hamburguesa {
    /* border: 1px solid red; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    left: 50px;
}

#barras {
    position: relative;
    
    width: 40px;
    height: 40px;
}

#barras span {
    height: .4rem;
    width: 100%;
    background-color: rgb(209, 255, 117) ;
    transform:rotate(0deg);
    border-radius: 5px;
    position: absolute;
    transition: all .30s;
    transform-origin: left center;
    will-change: transform, opacity;
}

#barras span:nth-child(1){
    top: 0px;
}

#barras span:nth-child(2){
    top: 9px;
}

#barras span:nth-child(3){
    top: 18px;
}

#menu-link:hover span,
#menu-link:focus span,
#menu-link:active span {
    background-color: rgb(213, 87, 251);
}

#barras.active span:nth-child(1) {
    transform: rotate(45deg);
    top: -5px;
    left: 2px;
}

#barras.active span:nth-child(2) {
    opacity: 0;
}

#barras.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 2px;
}